Repository yuricavalini/ng-teddy-app: changes, and which lint-staged commands are due for each by the changed paths.
All: node ng-lint-staged.js lint:fix, npx eslint --fix

.lintstagedrc:

{
  "**/*.{ts,html}": ["node ng-lint-staged.js lint:fix"],
  "**/*.{js,json}": ["npx eslint --fix"]
}

chore(ng-teddy-app): adiciona assets
  src/assets/icons/arrow-left.svg
  src/assets/icons/chevron-down.svg
  src/assets/icons/clients.svg
  src/assets/icons/close.svg
  src/assets/icons/home.svg
  src/assets/icons/menu.svg
  src/assets/icons/minus.svg
  src/assets/icons/pencil.svg
  src/assets/icons/plus.svg
  src/assets/icons/products.svg
  src/assets/icons/trash.svg
  src/assets/images/logo.png
Due: none

feat(ng-teddy-app): adiciona setup basico e reset global de estilos css
  src/index.html
  src/styles.scss
Due: node ng-lint-staged.js lint:fix

feat(ng-teddy-app): adiciona configurações basicas do app e ui libs
  angular.json
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/app.routes.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix

feat(ng-teddy-app): adiciona compartilhados de componentes, serviços, diretivas e configurações
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/shared/components/loading-indicator.component.ts
  src/app/shared/components/svg-icon.component.ts
  src/app/shared/config/default-dialog-config.ts
  src/app/shared/directives/trim-white-space.directive.ts
  src/app/shared/interceptors/loading.interceptor.ts
  src/app/shared/services/loading.service.ts
  src/app/shared/services/localstorage.service.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix

chore(ng-teddy-app): adiciona @angular/animations
  package-lock.json
  package.json
Due: npx eslint --fix

feat(ng-teddy-app): adiciona o modulo de auth
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/auth.service.ts
  src/app/auth/login/login.component.ts
  src/app/auth/models/login.ts
  src/app/auth/routes.ts
  src/index.html
Due: node ng-lint-staged.js lint:fix

feat(ng-teddy-app): adiciona compontes de layout
  src/app/layout/header/header.component.ts
  src/app/layout/shell/shell.component.ts
  src/app/layout/sidebar/sidebar.component.ts
Due: node ng-lint-staged.js lint:fix

feat(clients): adiciona clients service e modelos
  commitlint.config.js
  src/app/clients/clients-data.service.ts
  src/app/clients/models/client-form.ts
  src/app/clients/models/client.ts
  src/app/clients/models/clients-dialog-data.ts
  src/app/clients/models/create-client-dto.ts
  src/app/clients/models/update-client-dto.ts
Due: node ng-lint-staged.js lint:fix, npx eslint --fix

feat(clients): adiciona clients-card component
  src/app/clients/components/clients-card.component.ts
Due: node ng-lint-staged.js lint:fix

feat(clients): adiciona clients-list component
  src/app/clients/clients-list/clients-list.component.ts
Due: node ng-lint-staged.js lint:fix

feat(ng-teddy-app): integra rotas dos recursos da aplicação
  src/app/app.routes.ts
  src/app/auth/routes.ts
  src/app/clients/routes.ts
Due: node ng-lint-staged.js lint:fix

feat(ng-teddy-app): adiciona classes css globais
  src/styles.scss
Due: none

feat(auth): adiciona auth e logged-in guards, e adiciona novo redirecionamento
  src/app/app.routes.ts
  src/app/auth/guards/auth.guard.ts
  src/app/auth/guards/logged-in.guard.ts
Due: node ng-lint-staged.js lint:fix

feat(ng-teddy-app): adiciona configuração para loading service e loading interceptor
  src/app/app.config.ts
  src/app/app.routes.ts
Due: node ng-lint-staged.js lint:fix

feat(clients): adiciona clients-delete component
  src/app/clients/clients-delete/clients-delete.component.ts
Due: node ng-lint-staged.js lint:fix

feat(clients): adiciona clients-create component
  src/app/clients/clients-create/clients-create.component.ts
Due: node ng-lint-staged.js lint:fix

chore(ng-teddy-app): adiciona Dockerfile
  Dockerfile
Due: none

chore(ng-teddy-app): adiciona LICENSE
  LICENSE
Due: none

chore(ng-teddy-app): atualiza README
  README.md
  assets/clientes-lista.png
  assets/login.png
Due: none

feat(ng-teddy-app): atualiza README com link da imagem no dockerhub
  README.md
Due: none

chore(ng-teddy-app): atualiza README com informações do prettier
  README.md
Due: none

docs(ng-teddy-app): corrige texto em inglês para português do README na área de licença
  README.md
Due: none
